attrs==19.3.0
Automat==20.2.0
certifi==2020.6.20
chardet==3.0.4
constantly==15.1.0
dnspython==2.0.0
gevent==20.6.2
greenlet==0.4.16
hyperlink==19.0.0
idna==2.10
incremental==17.5.0
joblib==0.14.1
numpy==1.17.4
pandas==0.25.3
pkg-resources==0.0.0
PyHamcrest==2.0.2
python-dateutil==2.8.1
pytz==2019.3
requests==2.24.0
requests-threads==0.1.1
scikit-learn==0.22.1
scipy==1.4.1
six==1.13.0
sklearn==0.0
Twisted==20.3.0
urllib3==1.25.10
zope.event==4.4
zope.interface==5.1.0
